APP_NAME=UAS Administrasi Server Wildan M Fahmi_2388010030
STATIC_IMAGE=wildanmfahmi123/uas-static:latest
DYNAMIC_IMAGE=wildanmfahmi123/uas-dynamic:latest
HTTP_PORT=80
DYNAMIC_PORT=8080

MYSQL_ROOT_PASSWORD=ganti_root_password
MYSQL_DATABASE=uas_db
MYSQL_USER=uas_user
MYSQL_PASSWORD=ganti_password_database
